<aside class="user-social-info-resumide">

	<div class="btn-group btn-block">
		<button type="button" class="btn bnt-link btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-birthday-cake"></i> 
			4 próximos aniversários
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
	    <li><a href="#">Ze Ricardo em 12/06/2015</a></li>
	    <li><a href="#">João Paulo em 12/06/2015</a></li>
	    <li><a href="#">Barbara Kézia em 12/06/2015</a></li>
	  </ul>
	</div>

	<div class="btn-group btn-block">
		<button type="button" class="btn bnt-link btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-user"></i> 
			6 solicitações
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
	    <li><a href="#">Ze Ricardo</a></li>
	    <li><a href="#">João Paulo</a></li>
	    <li><a href="#">Barbara Kézia</a></li>
	  </ul>
	</div>
</aside>